
<h1 class="text-3xl font-bold underline">Kaarmup</h1>
<h3>Find charity needs to support, and grow the positive impact of your company.</h3>

<ul>
  <li>
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "Login", new_user_session_path %>
  </li>
  <li>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </li>
</ul>
