<div class="container m-5">
  <h1 class="text-3xl font-bold text-gray-700">Kaarmup</h1>
  <h3 class="text-gray-700">Find charity needs to support, and grow the positive impact of your company.</h3>
</div>

<div class="md:text-blue-500">
  <%= link_to "Register your charity", new_charity_path %>
</div>
